
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/custom.css">
{% endblock %}

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">




    


         
          {% if current_user.role == 'Admin' %}
          

          {% elif current_user.role == 'Family' %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Home</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_family_schedule') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Schedules</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('predict_cardio') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  CVD prediction</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('predict_stroke') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Stroke prediction</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('search_caregivers') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Find Caregiver</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_pending_payouts') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Pending PAy</span>
            </a>
          </li>


          {% elif current_user.role == 'Caregiver' %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('update_profile') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Update Profile</span>
            </a>
            <a class="nav-link" href="{{ url_for('update_availability') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Update Schedules</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_caregiver_schedule') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Schedules</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_earnings') }}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">  Earnings</span>
            </a>
          </li>


          {% endif %}

          
    

          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

         
        </ul>
      </div>
    </div>
  </div>
</nav>